[tool.poetry]
name = "john_toolbox"
version = "0.4.4"
description = "Wrapper for transformers scikit learn pipeline and wrapper for ml model"
authors = ["john <contact@nguyenjohnathan.com>"]
# New attributes
license = "MIT"
readme = "README.md"
homepage = "https://github.com/nguyenanht/john-toolbox"
repository = "https://github.com/nguyenanht/john-toolbox"
keywords = ["sklearn", "pipeline", "pytorch"]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.7.9"
matplotlib = "^3.1.1"
torch = "^1.7"
pandas = "^1.1"
numpy = "^1.19"
boto3 = "^1.16"
tqdm = "^4.51"
sklearn = "^0.0.0"
torchvision = "^0.8.1"
beautifulsoup4 = "^4.9"
xgboost = "^1.3"
importlib-metadata = "^3.8.0"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
jupyterlab = "^3.0.12"
jupyter = "^1.0.0"
jupytext = "^1.11.1"
jupyter-contrib-nbextensions = "^0.5.1"
sphinx-rtd-theme = "^0.5.1"
recommonmark = "^0.7.1"
autopep8 = "^1.5.6"
Sphinx = "^3.5.3"
coverage = "^5.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:",
]
